@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Bai Jamjuree, sans-serif;
}

:root {
    --color1: #26baa4;
    --color2: #6173ff;
    --color3: #40474e;
    --color4: #9fabb2;
}

header {
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
    height: 63vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

header > img {
    height: 40%;
}

h1, h2, h3 {
    /* background-color: blue; */
    color: var(--color3);
    text-align: center;
}

p {
    /* background-color: red; */
    color: var(--color4);
    text-align: center;
    padding-top: 20px;
}

.principal {
    padding: 0px 40px;
}

#titulo1 {
    /* background-color: rgba(0, 0, 0, 0.527); */
    margin-top: -35px;
}

.botao {
    /* background-color: #277c6f33; */
    padding: 60px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border-radius: 20px;
    border: none;
    width: 80vw;
    height: 7vh;
}

.botao-ios {
    background-color: var(--color1);
    box-shadow: 0px 2px 0px #277c6f;
}

.botao-mac {
    margin-top: 15px;
    background-color: var(--color2);
    box-shadow: 0px 2px 0px #444d94;
}

.botao-ios a, .botao-mac a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-decoration: none;
    line-height: 3.5;
}

#controle {
    /* background-color: #61ff7b38; */
    padding-top: 90px;
}

#topicos {
    /* background-color: #444d94; */
}

#computador img {
    /* background-color: #277c6f; */
    width: 100%;
    padding-top: 70px;
}

.topicos {
    padding-top: 70px;
}